fastapi[all] # Веб-фреймворк для создания API на Python
pony # PonyORM - ORM для взаимодействия с БД через Python код
pydantic # Библиотека для валидации данных
bit # Библиотека для работы с биткоинами
pyTelegramBotAPI # Для создания Telegram-бота
uvicorn # Сервер для проекта
# Для запуска сервера команда: uvicorn main:api --reload
# Параметр reload - будет обновлять сервер автоматически, при изменении кода

